.skeleton_title {
  background: linear-gradient(
    -45deg,
    #ffffff9b,
    rgba(255, 255, 255, 0.401),
    #ffffff39,
    #ffffff0c
  );
  background-size: 200% 200%;
  transition: 0.3s;
  height: 1rem;
  width: 50%;
  margin: 1rem 0 1rem 1.5rem;
  border-radius: 0.5rem;
  animation: skeletonGradiant 1s ease infinite;
}

.skeleton_content {
  background: linear-gradient(
    -45deg,
    #ffffff9b,
    rgba(255, 255, 255, 0.401),
    #ffffff39,
    #ffffff0c
  );
  background-size: 200% 200%;
  animation: skeletonGradiant 1s ease infinite;
  margin: 1rem 1rem 1rem 1.5rem;
  border-radius: 0.5rem;
}

.skeleton {
  margin: 1.5rem;
  .full_w_skeleton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    .skeleton_box {
      height: 6.5rem;
      border-radius: 1rem;
      background: rgba(69, 39, 139, 1);
      .skeleton_content {
        height: 2.5rem;
      }
    }
  }
  .half_w_skeleton {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    .skeleton_box {
      height: 8rem;
      border-radius: 1rem;
      background: rgba(69, 39, 139, 1);

      .skeleton_content {
        height: 4rem;
      }
    }
  }
}

.city_skeleton {
  background: linear-gradient(
    -45deg,
    #ffffff9b,
    rgba(255, 255, 255, 0.401),
    #ffffff39,
    #ffffff0c
  );
  background-size: 200% 200%;
  animation: skeletonGradiant 1s ease infinite;
  height: 1.5rem;
  margin: 0 4rem 1rem;
  border-radius: 0.5rem;
}
.degree_skeleton {
  background: linear-gradient(
    -45deg,
    #ffffff9b,
    rgba(255, 255, 255, 0.401),
    #ffffff39,
    #ffffff0c
  );
  background-size: 200% 200%;
  animation: skeletonGradiant 1s ease infinite;
  height: 4rem;
  margin: 0 4rem 1rem;
  border-radius: 0.5rem;
}
.description_skeleton {
  background: linear-gradient(
    -45deg,
    #ffffff9b,
    rgba(255, 255, 255, 0.401),
    #ffffff39,
    #ffffff0c
  );
  background-size: 200% 200%;
  animation: skeletonGradiant 1s ease infinite;
  height: 1.5rem;
  margin: 0 4rem 2rem;
  border-radius: 0.5rem;
}

.search {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 1.5rem;
}

@keyframes skeletonGradiant {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2,
h3,
h4,
p {
  margin: 0;
  font-size: 0.875rem;
}

.main_infos {
  margin: 2rem auto;
  width: fit-content;
  .cityname {
    transition: 0.5s;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }
  .temp {
    transition: 0.5s;
    h2 {
      text-align: center;
      font-size: 6rem;
      margin: 1rem 0 0;
      font-weight: lighter;
    }
  }
  .description {
    transition: 0.5s;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .tempMinMax {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 1;
    h4 {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
  .hide {
    opacity: 0;
  }
}

.toolbar {
  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
  }
  .weatherHeader {
    text-align: center;
    padding-top: 0.5rem;
    span {
      font-size: 1rem;
    }
  }
}

.waitingWeather {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showLittleDetails {
  transition: 0.5s;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  backdrop-filter: blur(20px);
  opacity: 0;
  z-index: 999;
  h2 {
    font-size: 1.15rem;
    text-transform: uppercase;
  }
  span {
    font-size: 1.15rem;
  }
}

.boxes {
  margin: 1rem;
  .content_fullwidth {
    .box {
      background: #2d2156;
      border-radius: 1rem;
      .title_box {
        z-index: 999;
        background: #2d2156;
        border-radius: 1rem;
        position: sticky;
        top: 0;
        color: #9392a9;
        text-transform: uppercase;
        font-size: .875rem;
        padding: 0.875rem;
        display: flex;
        gap: 0.5rem;
        img {
          min-width: 1rem;
        }
      }
      .content_box {
        padding: 0.875rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 0.875rem;
        }
      }
      .weatherbox {
        flex-direction: row;
        gap: 2rem;
        overflow: auto;
        .weather {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;
          justify-content: center;
          h2 {
            font-size: 16px;
          }
          img {
            width: 20px;
          }
        }
      }
      .weatherbox::-webkit-scrollbar {
        opacity: 0;
      }
    }
  }
}

.fullwidth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rangeAirPollution[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.rangeAirPollution[type="range"]:focus {
  outline: none;
}
.rangeAirPollution[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(0, 255, 11, 1) 25%,
    rgba(218, 255, 0, 1) 50%,
    rgba(255, 0, 0, 1) 75%,
    rgba(191, 14, 183, 1) 100%
  );
  border-radius: 8px;
  border: 0px solid #000000;
}
.rangeAirPollution[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
.rangeAirPollution[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(0, 255, 11, 1) 25%,
    rgba(218, 255, 0, 1) 50%,
    rgba(255, 0, 0, 1) 75%,
    rgba(191, 14, 183, 1) 100%
  );
}
.rangeAirPollution[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(0, 255, 11, 1) 25%,
    rgba(218, 255, 0, 1) 50%,
    rgba(255, 0, 0, 1) 75%,
    rgba(191, 14, 183, 1) 100%
  );
  border-radius: 8px;
  border: 0px solid #000000;
}
.rangeAirPollution[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.rangeAirPollution[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}
.rangeAirPollution[type="range"]::-ms-fill-lower {
  background: linear-gradient(
    90deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(0, 255, 11, 1) 25%,
    rgba(218, 255, 0, 1) 50%,
    rgba(255, 0, 0, 1) 75%,
    rgba(191, 14, 183, 1) 100%
  );
  border: 0px solid #000000;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
.rangeAirPollution[type="range"]::-ms-fill-upper {
  background: linear-gradient(
    90deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(0, 255, 11, 1) 25%,
    rgba(218, 255, 0, 1) 50%,
    rgba(255, 0, 0, 1) 75%,
    rgba(191, 14, 183, 1) 100%
  );
  border: 0px solid #000000;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
.rangeAirPollution[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.rangeAirPollution[type="range"]:focus::-ms-fill-lower {
  background: linear-gradient(
    90deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(0, 255, 11, 1) 25%,
    rgba(218, 255, 0, 1) 50%,
    rgba(255, 0, 0, 1) 75%,
    rgba(191, 14, 183, 1) 100%
  );
}
.rangeAirPollution[type="range"]:focus::-ms-fill-upper {
  background: linear-gradient(
    90deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(0, 255, 11, 1) 25%,
    rgba(218, 255, 0, 1) 50%,
    rgba(255, 0, 0, 1) 75%,
    rgba(191, 14, 183, 1) 100%
  );
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
.indiceUv[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.indiceUv[type="range"]:focus {
  outline: none;
}
.indiceUv[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(168, 0, 195, 1) 50%,
    rgba(203, 0, 0, 1) 100%
  );
  border-radius: 8px;
  border: 0px solid #000000;
}
.indiceUv[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
.indiceUv[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(168, 0, 195, 1) 50%,
    rgba(203, 0, 0, 1) 100%
  );
}
.indiceUv[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(168, 0, 195, 1) 50%,
    rgba(203, 0, 0, 1) 100%
  );
  border-radius: 8px;
  border: 0px solid #000000;
}
.indiceUv[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.indiceUv[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}
.indiceUv[type="range"]::-ms-fill-lower {
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(168, 0, 195, 1) 50%,
    rgba(203, 0, 0, 1) 100%
  );
  border: 0px solid #000000;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
.indiceUv[type="range"]::-ms-fill-upper {
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(168, 0, 195, 1) 50%,
    rgba(203, 0, 0, 1) 100%
  );
  border: 0px solid #000000;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
.indiceUv[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.indiceUv[type="range"]:focus::-ms-fill-lower {
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(168, 0, 195, 1) 50%,
    rgba(203, 0, 0, 1) 100%
  );
}
.indiceUv[type="range"]:focus::-ms-fill-upper {
  background: linear-gradient(
    90deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(168, 0, 195, 1) 50%,
    rgba(203, 0, 0, 1) 100%
  );
}
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

.halfwidth {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  .box {
    background: #2d2156;
    border-radius: 1rem;
    .title_box {
      z-index: 999;
      background: #2d2156;
      border-radius: 1rem;
      position: sticky;
      top: 0;
      color: #9392a9;
      text-transform: uppercase;
      font-size: .875rem;
      padding: 0.875rem;
      display: flex;
      gap: 0.5rem;
      img {
        min-width: 1rem;
      }
    }
    .content_box {
      padding: .875rem;
      h2 {
        font-size: 2rem;
      }
    }
  }
}

.boxes_2 {
  display: grid;
  grid-template-columns: calc(50% - 1rem) 50%;
  margin: 1rem;
  gap: 1rem;
  .box {
    background: #2d2156;
    border-radius: 1rem;
    .title_box {
      z-index: 999;
      background: #2d2156;
      border-radius: 1rem;
      position: sticky;
      top: 0;
      color: #9392a9;
      text-transform: uppercase;
      font-size: .875rem;
      padding: 0.875rem;
      display: flex;
      gap: 0.5rem;
      img {
        min-width: 1rem;
      }
    }
  }

  .vent {
    .content_box {
      .boussole {
        position: relative;
        min-width: 5rem;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin: 1.5rem auto;
        border: 5px solid rgba(147, 146, 169, 0.25);
        .n {
          z-index: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 0.25rem;
          color: #9392a9;
        }
        .o {
          z-index: 0;
          color: #9392a9;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0.25rem;
        }
        .e {
          z-index: 0;
          color: #9392a9;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0.25rem;
        }
        .s {
          z-index: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0.25rem;
          color: #9392a9;
        }
        .arrow_n {
          z-index: 0;
          display: flex;
          position: absolute;
          left: 50%;
          top: -5px;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 2.5px 5px 2.5px;
          border-color: transparent transparent #9392a9 transparent;
        }
        .arrow_o {
          z-index: 0;
          height: 2px;
          width: 5px;
          display: flex;
          background: #9392a9;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -5px;
        }
        .arrow_e {
          z-index: 0;
          height: 2px;
          width: 5px;
          display: flex;
          background: #9392a9;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -5px;
        }
        .arrow_s {
          z-index: 0;
          height: 5px;
          width: 2px;
          display: flex;
          background: #9392a9;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
        }

        .wind_direction {
          z-index: 0;
          background-color: #ffffff;
          height: 100%;
          position: absolute;
          left: 50%;
          display: flex;
          width: 4px;
          top: 0;
          justify-content: center;
          align-items: center;
        }
        .wind_direction::after {
          z-index: 0;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8px 12px 8px;
          border-color: transparent transparent #fff transparent;
          left: 50%;
          transform: translateX(-50%);
          top: -5px;
        }
        .wind_direction::before {
          z-index: 0;
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
          background: #fff;
          border-radius: 50%;
        }
        .wind_speed {
          z-index: 0;
          width: 3.5rem;
          height: 3.5rem;
          background-color: #1e153d;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h1 {
            margin: 0;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            line-height: 12px;
            span {
              text-align: center;
            }
          }
          h2 {
            margin: 0;
            font-size: 10px;
            color: #9392a9;
          }
        }
      }
    }
  }
  .pression {
    .content_box {
      .manometre {
        transform: rotate(180deg);
      }
      .valeurManometre {
        position: relative;
        width: 8rem;
        height: 8rem;
        margin: 1.5rem auto;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(147, 146, 169, 0.500437675070028) 50%,
          rgba(147, 146, 160, 0.5) 100%
        );
        border-radius: 50%;
        .mesures {
          position: absolute;
          background: #2d2156;
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(180deg);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .hpaMesure {
          height: 8rem;
          position: absolute;
          width: 0.25rem;
          top: calc(50%);
          left: 50%;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
    }
  }
  .humidite,
  .visibilite,
  .ressenti,
  .precipitation {
    h2 {
      padding: 0.25rem 0.875rem;
    }
  }
  .ressenti {
    img {
      min-width: auto !important;
      width: 0.7rem;
    }
  }
  .precipitation {
    img {
      min-width: 0.5rem !important;
    }
  }
  p {
    padding: 0.875rem;
    font-size: 0.875rem;
  }
}

.presentLocation {
  text-align: center;
  font-size: 0.875rem;
}

swiper-container {
  width: 100%;
  height: 10rem;
  margin: 0 1.5rem;
}

swiper-slide {
  height: 7.5rem;
  background: #2d2156;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .nomVille {
    text-transform: capitalize;
    font-size: 1.15rem;
    text-align: center;
  }
  .nomPays {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    text-transform: uppercase;
    color: #9392a9;
    font-size: 12px;
  }
}

.swiperVide {
  background: transparent;
}

footer{
  margin: 2rem auto;
    text-align: center;
    padding: 0.875rem;
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.5);
}

.content_box{
  h2{
    font-size: 1.75rem;
  }
}